@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    color: #fff;
    
}
.menu-bar{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}
#root{
    background-color: #fffefb;
    margin-left: -30px;
    margin-top: 80px;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
  height: auto;
}

.pagination .page-link {
    color: #ae8b41;
    background-color: white; /* Set background color to white */
    border-color: #ae8b41;
  }
  
  .pagination .page-link:hover {
    color: white;
    background-color: #ae8b41;
    border-color: #ae8b41;
  }
  
  .pagination .page-item.active .page-link {
    color: white;
    background-color: #ae8b41;
    border-color: #ae8b41;
  }

  .iconP {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* object-fit: cover; */
  }

 