@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    color: #fff;
    
}
.menu-bar{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}
#root{
    background-color: #fffefb;
    margin-left: -30px;
    margin-top: 80px;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
  height: auto;
}

.pagination .page-link {
    color: #ae8b41;
    background-color: white; 
    border-color: #ae8b41;
  }
  
  .pagination .page-link:hover {
    color: white;
    background-color: #ae8b41;
    border-color: #ae8b41;
  }
  
  .pagination .page-item.active .page-link {
    color: white;
    background-color: #ae8b41;
    border-color: #ae8b41;
  }

  .iconP {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }


  .save{
  position: relative;
  color: #000000;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: url(boxB.jpg);
  background-size: cover;
  font-weight: 600;
  left: -20px;
  letter-spacing: 0.5px;
  width: 20px;
  box-shadow: 4px 0px 4px 0px  #ecbf6d;
  
}
.save p {
  max-width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.save:hover{
  left: 0;
  color: #fff;
  width: 150px;
  box-shadow: 0px 0px 10px 0px  #ecbf6d;
}
.save:focus{
  outline: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .modal-body,
  .modal-body * {
    visibility: visible;
  }
}

.saveT{
  position: relative;
  margin: 25px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border: none;
  background: rgb(255, 255, 255);
  font-weight: 600;
  left: -20px;
  letter-spacing: 0.5px;
  width: 20px;
  box-shadow: 4px 0px 4px 0px  #fcf5d8;
  
}
.saveT:hover{
  left: 0;
  box-shadow: 0px 0px 10px 0px  #f7ecc6;
}
.saveT:focus{
  outline: none;
}

@media (max-width: 576px) {
  .border {
    width: 100%;
  }
}

.btns{
  position: relative;
  /* margin: 25px;
  padding: 10px; */
  color: #000000;
  text-align: center;
  transition: 0.5s;
  border: none;
  /* background: rgb(255, 255, 255); */
  /* font-weight: 600; */
  left: -20px;
  /* letter-spacing: 0.5px;
  width: 20px; */
  box-shadow: 0px 0px 10px 0px  #f7ecc6;
  
}
.btns:hover{
  left: 0;
  color: #fff;
  width: 150px;
  box-shadow: 4px 0px 4px 0px  #b58412;
  
}
.btns:focus{
  outline: none;
}

.navbar-brand {
  position: relative;
  color: #ffeebc;
  text-align: center;
  transition: 0.5s;
}

.navbar-brand::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.navbar-brand:hover::after,
.navbar-brand:focus::after {
  width: 100%;
}

.navbar-brand:focus {
  outline: none;
}

.navbar-brand.active::after {
  width: 100%;
}

.b:hover{
  background-color: orange !important; 
}


